* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-logo {
    transition: transform 0.5s ease;
    cursor: pointer;
    margin-left: 200px;
}

/* Animação de rotação no hover */
.header-logo:hover {
    transform: rotate(20deg);
    /* Rotação suave de 10 graus */
}

/* Caso queira que a imagem também tenha uma transição suave */
.header-logo img {
    transition: transform 0.5s ease;
}

/* Alternativa: se quiser aplicar direto na imagem */
.header-logo img:hover {
    transform: rotate(10deg);
} 


header {
background-color: black;
    width: 100%;
    margin-left: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 100px;
}

.menu {
    margin-right: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu nav a {
    text-decoration: none;
    padding-right: 30px;
        font-size: .975rem;
    font-weight: bold;
        margin: 20px;
}


.cor {
    color: white;
    position: relative;
    transition: color 0.3s;
}

/* Faz o Tracinho na classe Nav */
.cor::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(193, 193, 193, 0.71);
    transition: width 0.3s ease;
}

/* Define a largura do elemento */
.cor:hover::after {
    width: calc(100% - 40px);
}

